body {
    transition: 1s;
}

.dom-style {
    border-radius: 12px;
    background-color: rgb(244, 247, 255);
    border-radius: 8px;
    margin-top: 14px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 5px;
}